@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');

/* button */

.bg-primary {
    background-color: var(--color-primary)!important;
}

.btn:not(.nav-btns button) {
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}

.btn:not(.nav-btns button):hover {
    background-color: var(--color-primary);
    color: #fff;
    border-color: var(--color-primary);
}


/* text color */

.text-primary {
    color: var(--color-primary)!important;
}


/* title */

.title h2::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--color-primary);
    right: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* collection */

.active-filter-btn {
    background-color: var(--color-primary)!important;
    color: #fff!important;
    border-color: var(--color-primary)!important;
}

.filter-button-group .btn:hover {
    color: #fff!important;
}

.collection-img span {
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}


/* special */

.special-img span {
    top: 20px;
    right: 20px;
}

.special-list .btn {
    padding: 8px 20px!important;
}

.special-img img {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.special-img:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.features-section {
    background-color: #f8f9fa;
    padding: 100px 0;
}

.feature-icon {
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 20px;
}

.feature-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.feature-description {
    font-size: 1rem;
    color: #555;
}


/* about */

#about {
    background-color: rgba(179, 179, 179, 0.05);
}